
//Paleta de colores
$color-uno:rgb(146, 131, 103);
$color-dos:rgb(29, 28, 28);
$color-tres: white;
$color-cuatro: rgb(85, 60, 48);
$color-cinco: rgb(66, 48, 40);
$color-seis: beige;
$color-siete: aliceblue;
$color-font:rgb(88, 77, 46);

//Fuentes
$font-uno: Georgia, 'Times New Roman', Times, serif;


