//Import variables
@import "../abstracts/variables";

//Import mixins
@import "../abstracts/mixins";



/*Media queries para mobile*/

@media (max-width: 600px){
   header{
    height: auto;
    padding: 10px 20px;
    div{
        .logo{
            max-width: 150px;
        }
    }
    nav{
        div{
            .navbar-collapse{
                text-align: center;
                .navbar-nav{
                    @include flex (flex, center, center);
                    flex-direction: column;
                    gap: 10px;
                }
            }
            .navbar-toggler{
                border-color: $color-siete;
                .navbar-toggler-icon{
                    background-color: $color-uno;
                }
            }
            form{
                .form-control.me-2{
                    width: 100%;
                    margin-bottom: 10px;
                }
                .btn.btn-outline-success{
                    width: 100%;
                }
            }
        }
    }
    main{
        padding: 20px;
        h1, h2, h4{
            text-align: center;
            margin: 10 px 0;
        }
        .principal{
            @include flex (flex, center, center);
            flex-direction: column;
            .principal-imagen{
                height: 25vh;
                width: 25vh;
            }
        }
        .productos{
            @include grid (grid, repeat (1, 1fr), repeat (8, auto), 15px);
            padding: 20px;
        }
    }
    footer{
        p{
            padding: 10px;
            font-size: 16px;
        }
    }
   }
   }
  
